@model IEnumerable<GolfCaddie.WebUI.Models.ScoreCardViewModel>

@{
    ViewBag.Title = "Index";
    // Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>Home</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Holes)
            </td>
        </tr>
    }

</table>